/*phone*/
@media only screen and(min-width:440px ) {
  .container {
    min-width: 440px;
  }
}
/* widescreen dispays */
@media only screen and(min-width:920px ) {
  .container {
    min-width: 920px;
  }
}
/*tablets*/
@media only screen and (max-width: 919px) {
  .container {
    min-width: 919px;
  }
}
#body {
  background-color: black;
}

.welcome {
  text-align: center;
  position: relative;
  font-size: 100px;
  font-family: 'Pixelify Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background-color: black;
  color: white;
  margin-right: 30px;
  margin-bottom: 0px;
  transform: translateY(250px);
}
.welcome2 {
  text-align: center;
  position: relative;
  font-size: 80px;
  font-family: 'Pixelify Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  background-color: black;
  color: white;
  margin: 30px;
  transform: translateY(200px);
}

.navbar {
  padding: 0px;
}
.navbar ul {
  list-style-type: none;
  font-size: 30px;
}
.navbar a {
  color: white;
  font-family: 'Pixelify Sans', sans-serif;
  font-optical-sizing: auto;
  display: block;
  text-align: center;
  margin: 10px;
  padding: 5px;
  transform: translateY(200px);
}
.navbar a:hover {
  color: greenyellow;
}

.navbardiv {
  width: 100%;
  height: 40px;
  background-color: black;
  padding: 10px;
  margin: 0px;
}
.buttonNav {
  border-radius: 10px;
  float: right;
  padding: 10px;
  margin: 10px;
  color: greenyellow;
  background-color: grey;
  font-family: 'Pixelify Sans', sans-serif;
  font-optical-sizing: auto;
  box-shadow: 2px 5px grey;
  font-size: 25px;
  border-color: grey;
  border-style: solid;
}
.Header {
  font-family: 'Pixelify Sans', sans-serif;
  font-optical-sizing: auto;
  width: 100%;
  position: relative;
  color: whitesmoke;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 0px;
}
.green {
  color: green;
}
.starry {
  color: blue;
  font-style: italic;
}
.sect {
  font-family: 'Pixelify Sans', sans-serif;
  font-optical-sizing: auto;
  color: whitesmoke;
  font-size: larger;
}

.divImage1 {
  display: block;
  margin-left: 30%;
  margin-right: 30%;
}
.divImage2 {
  display: block;
  margin-left: 30%;
  margin-right: 30%;
}
.divImage3 {
  display: block;
  margin-left: 30%;
  margin-right: 30%;
}
.divImage4 {
  display: block;
  margin-left: 30%;
  margin-right: 30%;
}
.subHeader {
  font-family: 'Pixelify Sans', sans-serif;
  font-optical-sizing: auto;
  color: whitesmoke;
  text-decoration: underline;
  font-size: x-large;
}

.buttonNav:hover {
  background-color: darkorchid;
  box-shadow: 2px 5px darkorchid;
  border-color: darkorchid;
  border-style: solid;
  color: deepskyblue;
}
